# The .env file is used to populate variables in three different places:
#
# 1. It is automatically loaded into the postgres container as ARGS at build time
# 2. It is automatically loaded into the docker-compose.yml file at build time
# 3. It is automatically loaded into the API as environment variables at runtime


ENV=development
DEBUG=true

# These are shared between the application and the Postgres Docker container
POSTGRES_USER=asheslive
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=asheslive
# These are used by the application
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# These configure authentication
ACCESS_TOKEN_EXPIRY_HOURS=24
# openssl rand -hex 32
SECRET_KEY=generate_key_with_command_above

# SendGrid email configuration; currently using their service for transactional emails
MAIL_SENDER_ADDRESS=from_email_here
MAIL_DEBUG_RECIPIENT=recipient_for_all_emails_while_debugging

SENDGRID_API_KEY=key_here
SENDGRID_DEBUG_EMAIL=email_to_receive_all_emails_while_debugging
SENDGRID_INVITE_TEMPLATE=template_id_here
